.header {
  padding-bottom: 105px;

  .nav {
    position: relative;
    border-bottom: 1px solid #828282;

    .burger {
      display: none;
      position: absolute;
      margin-top: 65px;
      left: calc(100% - 40px);
      height: 15px;
      &:before,
      &:after,
      span {
        position: relative;
        content: '';
        display: block;
        width: 33px;
        height: 4px;
        background-color: #070707;
        transition: all 0.5s linear;
      }

      span {
        top: 50%;
      }

      &:after {
        top: 100%;
      }

      &.active {
        &:before {
          background-color: #828282;
          top: 36%;
          transform: rotate(45deg);
        }

        &:after {
          background-color: #828282;
          top: 14%;
          transform: rotate(-45deg);
        }
        span {
          display: none;
        }
      }

      @media (max-width: 768px) {
        display: block;
      }
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: space-between;

      &__item {
        padding: 30px 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;

        a {
          color: #828282;
          text-decoration: none;
        }

        &:hover {
          a {
            color: #070707;
          }
        }

        &.active {
          a {
            color: #070707;
          }
        }
      }
    }

    &__language {
      position: absolute;
      top: 250%;
      left: calc(100% - 57px);
      display: flex;
      transform: rotate(-90deg);

      button {
        border: none;
        background-color: inherit;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #828282;
        text-transform: uppercase;

        &.active {
          color: #070707;
        }
      }

      .dash {
        background-color: #070707;
        width: 2px;
        height: inherit;
      }
    }

    @media (max-width: 768px) {
      border: none;

      &__list {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -200%;
        background-color: #fff;
        overflow: auto;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.5s linear;

        &__item {
          margin-bottom: 10px;
          font-size: 34px;
          width: 50%;
          line-height: 1;

          &:first-child {
            padding-top: 100px;
          }
        }

        &.active {
          top: 0;
        }
      }

      &__language {
        position: fixed;
        top: 200%;
        left: calc(100% - 110px);
        display: flex;
        transform: rotate(90deg);
        transition: all 0.9s linear;

        button {
          font-size: 34px;
        }

        &.active {
          top: calc(100% - 130px);
        }
      }
    }
  }

  .info {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;

    &__name {
      flex-grow: 0.46;
      font-family: 'Open Sans', sans-serif;
      font-size: 47px;
      font-weight: 700;
      color: #070707;
      line-height: 1.5;
    }

    &__quick-ref {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: #070707;
      text-align: start;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      &__name {
        margin: 40px 0 10px 0;
      }
    }
  }

  .photo {
    margin-top: 40px;
    width: 100%;
  }
}
